{{ define "main" -}}
<main class="index">
  <section class="article-list">
    <h1>{{ .Title }}</h1>

    {{ range (where .Site.RegularPages "Section" "blog") }}
    <div class="article">
      <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
    {{ end }}
  </section>

  <aside>
    <p>Hello, World!</p>

    <ol>
      <li>I do not spook easily and those who think I do are wasting their time with their surprise attacks.</li>
      <li>Women feel comfortable in my presence, with my tales of sexual experimentation, both on the high-seas and on railway property.</li>
      <li>I am a wizard with star-shaped Chinese weaponry, which I throw accurately and without due forethought.</li>
    </ol>

    <dl class="external-links">
      {{ range $key, $value := .Site.Params.links }}
      <dt>{{ $key }}</dt>
      <dd>{{ $value | safeHTML }}</dd>
      {{ end }}
    </dl>


  </aside>
</main>
{{- end }}
